<h1>Dictates#play</h1>
<p>Find me in app/views/dictates/play.html.erb</p>

<div id="speech">
  <span id="labnol" contenteditable="true"></span>
  <span id="notfinal" contenteditable="true"></span>
</div>

<div>
  <span id="correct_answer"></span>
</div>

<%= button_tag "START", id: 'start', class: 'hoge' %>
<%= button_tag "PAUSE", id: 'pause', class: 'hoge' %>
<%= button_tag "RESUME", id: 'resume', class: 'hoge' %>

<%= javascript_include_tag "dictates/play" %>
