<h1>Dictates#play</h1>
<p>Find me in app/views/dictates/play.html.erb</p>

<div id="speech">
  <span id="labnol" contenteditable="true">Click the Start button and dicatate.</span>
</div>

<div>
  <span id="correct_answer">This is a pen</span>
</div>

<script>

function clearSlate() {
  if (working) {
    speech.stop();
  }
  $("#labnol").html("");
  $("#notfinal").html("");
  final_transcript = "";
  reset();
}

function reset() {
  working = false;
  <%# $("#status").style.display = "none"; %>
  <%# $("#btn").html("Start Dictation"); %>
}

function format(s) {
  return s.replace(/\n/g, '<br>');
}

function capitalize(s) {
  return s.replace(/\S/, function(m) {
    return m.toUpperCase();
  });
}

function initialize() {
  speech = new webkitSpeechRecognition();
  <%# speech.continuous = true; %>
  speech.continuous = false;
  speech.maxAlternatives = 5;
  speech.interimResults = true;
  speech.lang = getLang(localStorage["language"]);
  speech.onend = reset;
}

var clear, working, speech, final_transcript = "";

var questions = [
  {q_id: 1, q_body: "This is a pen"},
  {q_id: 2, q_body: "He is a teacher"},
  {q_id: 3, q_body: "I like Alpaca"},
];

if (typeof(webkitSpeechRecognition) !== 'function') {

  $("#labnol").html("We are sorry but Dictation requires the latest version of Google Chrome on your desktop.");
  $("#messages").style.display = "none";

} else {

  if (typeof(localStorage["language"]) == 'undefined') {
    localStorage["language"] = 1;
  }

  if (typeof(localStorage["transcript"]) == 'undefined') {
    localStorage["transcript"] = "";
  }

  $("#labnol").html(localStorage["transcript"]);
  final_transcript = localStorage["transcript"];

  setInterval(function() {
    var text = $("#labnol").html();
    if (text !== localStorage["transcript"]) {
      localStorage["transcript"] = text;
    }
  }, 2000);

  initialize();
  clearSlate();

  var setNextQuestion = function() {
    clearSlate();
    $("#correct_answer").text(questions[++qIdx].q_body);
    timer._reset();
    speech.start();
  };

  //------------------- 
  // Timer object
  //------------------- 

  var Timer = function(args) {
    this.length = args.length;
    this.rest = args.length;
    this.interval = args.interval;
  };

  Timer.prototype._event = function() {
    if (--this.rest == 0) {
      var answer = $("#labnol").text().trim();
      var correct_answer = $("#correct_answer").text().trim();
      if (answer == correct_answer) {
        alert("正解!");
      } else {
        alert("不正解...");
      }
      speech.stop();
      setNextQuestion();
    }
  };

  Timer.prototype._start = function() {
    var _this = this;
    setInterval(function() { _this._event(); }, _this.interval);
  };

  Timer.prototype._reset = function() {
    this.rest = this.length;
  };

  var timer = new Timer({length: 5, interval: 1000});

  //------------------- 
  // /Timer object
  //------------------- 

  //------------------- 
  // play dictation
  //------------------- 

  var qIdx = 0;
  $("#correct_answer").val(questions[qIdx]);
  timer._start();
  speech.start();

  speech.onerror = function(e) {
    var msg = e.error + " error";
    if (e.error === 'no-speech') {
      msg = "No speech was detected. Please try again.";
    } else if (e.error === 'audio-capture') {
      msg = "Please ensure that a microphone is connected to your computer.";
    } else if (e.error === 'not-allowed') {
      msg = "The app cannot access your microphone. Please go to chrome://settings/contentExceptions#media-stream and allow Microphone access to this website.";
    }
    $("#warning").html("<p>" + msg + "</p>");
    setTimeout(function() {
      $("#warning").html("");
    }, 5000);
  };

  speech.onresult = function(e) {
    var interim_transcript = '';
    if (typeof(e.results) == 'undefined') {
      reset();
      return;
    }
    for (var i = e.resultIndex; i < e.results.length; ++i) {
      var val = e.results[i][0].transcript;
      if (e.results[i].isFinal) {
        final_transcript += " " + val;
      } else {
        interim_transcript += " " + val;
      }
    }
    $("#labnol").html(format(capitalize(final_transcript)));
    $("#notfinal").html(format(interim_transcript));
    console.log("onresult");
  };

  speech.onaudioend = function() {
    console.log("audioend");
  };
  speech.onsoundend = function() {
    console.log("soundend");
  };
  speech.onspeechend = function() {
    console.log("speechend");
  };
  speech.onend = function() {
    console.log("end");
    console.log($("#labnol").text());
  };
}

function getLang(opt) {
  var langs = [
    ["United Kingdom", "en-gb", "English", "en-gb"],
    ["United States", "en-us", "English", "en-us"],
  ];
  return langs[opt][1];
}
</script>
